{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Selección de lotería
{% endblock %}

{% block content %}

    <p>
       Por favor seleccione su lotería favorita.
    </p>


        <!-- CSS Code -->
        <style type="text/css" scoped>
        table.GeneratedTable {
        width:50%;
        background-color:#FFFFFF;
        border-collapse:collapse;border-width:1px;
        border-color:#000000;
        border-style:solid;
        color:#000000;
        text-align: center;
        }

        table.GeneratedTable td, table.GeneratedTable th {
        border-width:1px;
        border-color:#000000;
        border-style:solid;
        padding:3px;
        }

        table.GeneratedTable thead {
        background-color:#CCCCFF;
        }
        </style>

        <!-- HTML Code -->
        <table class="GeneratedTable">
        <thead>
        <tr>
        <th>Opción</th>
        <th>Pago bajo</th>
        <th>Pago alto</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>{{ form.loteria.0 }}</td>
        <td>18</td>
        <td>18</td>
        </tr>
        <tr>
        <td>{{ form.loteria.1 }}</td>
        <td>14</td>
        <td>26</td>
        </tr>
        <tr>
        <td>{{ form.loteria.2 }}</td>
        <td>10</td>
        <td>34</td>
        </tr>
        <tr>
        <td>{{ form.loteria.3 }}</td>
        <td>6</td>
        <td>42</td>
        </tr>
        <tr>
        <td>{{ form.loteria.4 }}</td>
        <td>2</td>
        <td>50</td>
        </tr>
        <tr>
        <td>{{ form.loteria.5 }}</td>
        <td>-2</td>
        <td>54</td>
        </tr>
        </tbody>
        </table>

    <p> </p>

    <button class="otree-btn-next btn btn-primary next-button otree-next-button">Siguiente</button>


{% endblock %}
