{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Ingreso de datos referenciales
{% endblock %}

{% block content %}

    <p>
        Aquí se encuentran ciertos rasgos de personalidad que pueden o no aplicar. Por favor escriba un número
        junto a cada afirmación para indicar hasta que nivel usted está de acuerdo o desacuerdo con cada afirmación. La
        escala numérica es la siguiente:
    </p>

    <!-- Codes by HTML.am -->

    <!-- CSS Code -->
    <style type="text/css" scoped>
    table.GeneratedTable {
    width:100%;
    background-color:#FFFFFF;
    border-collapse:collapse;border-width:1px;
    border-color:#000000;
    border-style:solid;
    color:#000000;
    }

    table.GeneratedTable td, table.GeneratedTable th {
    border-width:1px;
    border-color:#000000;
    border-style:solid;
    padding:3px;
    }

    table.GeneratedTable thead {
    background-color:#FFFFCC;
    }
    </style>


    <table class="GeneratedTable">
            <thead>
    <tr>
        <th>Característica</th>
        <th>Completamente en desacuerdo</th>
        <th>Parcialmente en desacuerdo</th>
        <th>Ligeramente en desacuerdo</th>
        <th>Ni acuerdo ni en desacuerdo</th>
        <th>Ligeramente de acuerdo</th>
        <th>Parcialmente de acuerdo</th>
        <th>Completamente de acuerdo</th>
    </tr>
    </thead>
        {% for field in form %}
            <tr>
                <td> {{ field.label }} </td>
            {% for choice in field %}
                <td>{{ choice }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>

<p>

</p>
    {% next_button %}

{% endblock %}

